<ul class="nav nav-tabs nav-justified mb-3">
<!--All……下記のナビばーをクリックすることにより、全てのタスクを表示する-->
  <li class="nav-item"><a href="/" class="nav-link">All Tasks</a></li>
  <!--○/○(○)……下記のナビばーをクリックすることにより、指定の日時のタスクを全て表示する-->
  <!--今日-->
  <li class="nav-item">Today</li>
  <!--明日-->
  <li class="nav-item">Tomorrow</li>
</ul>