<div class="text-center" style="margin:25px 0px 25px 0px">
  <h1>Calendar</h1>
  <font size='2' color='#999999'>月ごとの日程</font>
</div>

<%= month_calendar events: @tasks do |date, tasks| %>
  <%= date.day %>
  <% tasks.each do |task| %>
    <% if task.status != 'custom' %>
      <div>
        <font size='1'><%= link_to task.title, task %></font>
      </div>
    <% end %>
  <% end %>
<% end %>




