<div class="card border-primary mb-3" style="padding: 15px">
<font size="5">習慣タスク(Custom)の諸注意</font>
  <div style="padding: 20px 15px 15px 15px">
    　①タイトルのフォームと、曜日のチェックボックスを空欄にしない
  </div>
  <div style="padding: 5px 15px 15px 15px">
    　②0:00~23:59の時間を表示するため、開始時間22:00~(翌日の)終了時間0:30のような設定は不可
  </div>
  <div style="padding: 5px 15px 5px 15px">
    <%= link_to 'customに戻る', '/tasks/custom' ,class: 'btn btn-primary btn-block'%>
  </div>
</div>