<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Let's Do Tasks!</h5>
      </div>
      <div class="card-body">
        <!--ユーザーの目標を記入する欄-->
      </div>
    </div>
    <%= render '../..', ..: @.. %>
    <!--ボタンを押すとtask新規作成画面に移行する-->
  </aside>
  <div class="col-sm-8">
    <%= render 'tasks/tasks_navbar' %>
    <%= render 'tasks/tasks', {tasks: @tasks,date_time: @date_time%>
  </div>
</div>