<div class="text-center">
  <h1>Tasklist</h1>
  <font size='2' color='#999999'>空き時間表示に特化したタスク管理表</font>
</div>
<div class="text-center" style="margin:25px 0px 45px 0px">
  <p><%= link_to '新規タスクの追加', new_task_path, class: 'btn btn-lg btn-primary btn-sm' %></p>
  <font size='2' color='#999999'>詳細の確認・編集・削除をする際はカードフレームをクリック</font>
</div>
<%= render 'tasks/tasks_navbar' %>