<div class="row">
  <aside class="col-md-5">
    <div class="card">
      <div class="card-body">
        <%= render 'form', task: @task %>
      </div>
    </div>
  </aside>
  <div class="col-md-7">
    <%= render 'tasks/tasks_navbar' %>
  </div>
</div>