<div class="row">
  <aside class="col-sm-5" style="margin:0px 0px 25px 0px">
    <div class="card border-<%= @story.card_color %>">
      <div class="card-header">
        <h4 class="card-title"><%= @story.title %></h4>
      </div>
      <div class="card-body">
        <%= render 'stories/form' , story: @story %>
      </div>
      
    </div>
  </aside>
  <div class="col-sm-7">
    <%= render 'stories/stories_navbar' %>
  </div>
</div>
