<div class="text-center">
  <h1>Storylist</h1>
  <font size='2' color='#999999'>小説、映画、ドラマなど</font>
</div>
<div class="text-center" style="margin:25px 0px 45px 0px">
  <p><%= link_to '新規ストーリーの追加', new_story_path, class: 'btn btn-lg btn-primary btn-sm' %></p>
  <font size='2' color='#999999'>詳細の確認・編集・削除をする際はカードフレームをクリック</font>
</div>

<%= render 'stories/stories_navbar' %>